.content_area {
    position: absolute;
    right: 0;
    background-color: transparent;
    height: 100%;
    width: 100%;
    max-width: calc(100% - 380px);
}

.ani_sec {
    position: relative;
    height: 100%;
    perspective: 1500px;
    backface-visibility: hidden;
}

.main_page {
    position: absolute;
    background-color: transparent;
    height: 100%;
    width: 100%;
    padding: 0;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.section_content {
    background-color: #fff;
    border-radius: 30px;
    padding: 60px;
    position: relative;
    min-width: 100%;
    min-height: 100%;
    transform: translate3D(0, 0, 0);
}