.login_wrap {
    box-sizing: border-box;
    width: 460px;
    margin: 0 auto;
}

div {
    display: block;
}

ul {
    display: block;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.menu_wrap {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.menu_item {
    position: relative;
    display: table-cell;
    vertical-align: top;
}

.menu_id, 
.menu_ones,
.menu_qr{
    display: flex;
    position: relative;
    height: 61px;
    border: 1px solid #e3e3e3;
    background-color: #f8f9fa;
    text-align: center;
    box-sizing: border-box;
}

.menu_id {
    border-right: 0;
    border-radius: 6px 0 0 0;
}

.menu_qr {
    border-left: 0;
    border-radius: 0 6px 0 0 ;
}

.menu_text{
    width: 70%;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -.5px;
    text-align: left;
    padding-left: 10px;
    color: #777;
    margin: auto 0 auto 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.img_wrap{
    width: 30%;
    padding-top: 3px;
    margin: auto 0 auto 0;
    text-align: right;
}

.id_login_img {
    width: 16px;
    height: 16px;
}

form {
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.panel_wrap{
    margin-top: -17px;
    border-radius: 0 0 6px 6px;
    border: 1px solid #c6c6c6;
    border-top: none;
}

.input_wrap{
    margin-top: 17px;
}